/InputOutput/nbproject/private/
/InputOutput/build/
/Week3/InputOutput/nbproject/private/
/Week2/AddNum/nbproject/private/
/Week2/DataTypes/nbproject/private/
/Week2/Operators/nbproject/private/
/Week2/Operators1/nbproject/private/
/Week2/Strings/nbproject/private/
/Week2/Variables/nbproject/private/
/Week3/InputOutput/build/
/Week3/InputOutput2/nbproject/private/
/Week3/InputOutput2/build/
/Week3/Berhitung/nbproject/private/
/Week3/Berhitung/build/
/Week3/GajiAgent/nbproject/private/
/Week3/GajiAgent/build/
/Week3/BigInteger/nbproject/private/
/Week3/BigInteger/build/
/Week3/MDArrayJava/nbproject/private/
/Week3/MDArrayJava/build/
/Week3/BukaTutupJalan/nbproject/private/
/Week3/BukaTutupJalan/build/
/Week3/BigNumber/nbproject/private/
/Week3/BigNumber/build/
/Week4/Kasus1/nbproject/private/
/Week4/Kasus1/build/
/Week4/Kasus2/nbproject/private/
/Week4/Kasus2/build/
/Week4/Kasus3/nbproject/private/
/Week4/Kasus3/build/
/Week5/NarutoAnime/nbproject/private/
/Week5/NarutoAnime/build/
/Week5/RestaurantMain/nbproject/private/
/Week5/RestaurantMain/build/
/Week5/AggregationMain/nbproject/private/
/Week6/Aggregation/nbproject/private/
/Week6/Aggregation/build/
/Week6/Composition/nbproject/private/
/Week6/Composition/build/
/Week6/Dependance/nbproject/private/
/Week6/Dependance/build/
/Week6/Association/nbproject/private/
/Week6/Association/build/
/Week6/Dependence/nbproject/private/
/Week6/Dependence/build/
/ETS/ETS/nbproject/private/
/ETS/ETS/build/
/Week8/Cylinder/build/
/Week8/Shape/build/
/Week8/Cylinder/nbproject/private/
/Week8/Employee/nbproject/private/
/Week8/Shape/nbproject/private/
/Week8/Exercise3/nbproject/private/
/Week8/Exercise3/build/
/Week8/Exercise1/nbproject/private/
/Week8/Exercise2/nbproject/private/
/Week8/Exercise1/build/
/Week8/Exercise2/build/
/Week8/ATM/nbproject/private/
/Week7/nbproject/private/
/Week7/build/
/Week7/ATM/nbproject/private/
/Week7/ATM/build/
